- if (typeof(search) == 'undefined') search = ''
//-- settings.search = settings.search || 'user_full'
//-- var sname = { user_full: 'Search your bookmarks', 'user': 'user', all: 'all', all_full: 'all_full' }
nav(class='navbar navbar-default navbar-fixed-top')
  .container-fluid
    .navbar-header
      a.navbar-brand Delish
    //-    form(class='navbar-search pull-left', method='get', action='/search')
    //-      //input(type='text', class='search-query', name='q', placeholder='Search', value=search.query)
    //-      input(type='hidden', value=settings.search, id='searchsettings')
    //-      input(type='text', name='q', id='searchinput', placeholder='Search', value=search.query)
    //-      .input-append
    //-        .btn-group
    //-          - var s = sname[settings.search] || sname['user_full']
    //-          button.btn.dropdown-toggle(id='searchbutton', data-toggle='dropdown') #{s}
    //-            span.caret
    //-          ul.dropdown-menu(id='searchmenu')
    //-            - for x in sname
    //-              li
    //-                a(href='#', value=x) #{sname[x]}
    form(class='navbar-form navbar-left', role='search', method='get', action='/bookmarks/search')
      input(type='text', class='form-control', name='q', placeholder='Search', value=search.query)
    ul.nav.navbar-nav
      li.dropdown
        if typeof(authenticated) != 'undefined' && authenticated
          a(class='dropdown-toggle', data-toggle='dropdown')
            | Search your bookmarks
            span.caret
          ul.dropdown-menu
            li Search all bookmarks
            li Search yours excluding full text
            li Search all excluding full text
        else
          a(class='dropdown-toggle', data-toggle='dropdown')
            | Search all bookmarks
            span.caret
          ul.dropdown-menu
            li Search excluding full text
  
    if typeof(authenticated) != 'undefined' && authenticated
      button(type='button', href='#addModal1', role='button', class='btn btn-primary navbar-btn', data-toggle='modal')
        i.icon-plus
        |    Add Link

    ul.nav.navbar-nav.navbar-right
      if typeof(authenticated) != 'undefined' && authenticated
        li(class='dropdown dropdown-split-left')
          a(href='/bookmarks/user/'+authenticated) #{authenticated} 
        li(class='dropdown dropdown-split-right')
          a(href='#', class='dropdown-toggle', data-toggle='dropdown')
            span.caret
          ul.dropdown-menu
            li: a(href='/bookmarks/account') Edit your account
            li: a(href='#', id='logout') Logout
      else
        li(class='dropdown pull-right')
          a(class='dropdown-toggle', data-toggle='dropdown', href='#', role='button') Login 
            b.caret
          ul.dropdown-menu(role='menu')
            li
              form(id='login', action='/bookmarks/login', method='post')
                fieldset
                  label Username
                  input(type='text', name='username')
                fieldset
                  label Password
                  input(type='password', name='password')
